@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/base\/_global\.scss}line{font-family:\000031}}
* {
  box-sizing: border-box;
  -webkit-transition: all ease-in-out 250ms;
          transition: all ease-in-out 250ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/base\/_global\.scss}line{font-family:\000036}}
body {
  background-color: #43C0F6;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/base\/_global\.scss}line{font-family:\0000313}}
img {
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/base\/_global\.scss}line{font-family:\0000318}}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 70em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/base\/_global\.scss}line{font-family:\0000324}}
.clearfix::after,
section::after,
footer::after {
  content: "";
  display: block;
  clear: both;
}

/*header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\000033}}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000311}}
#navbar {
  display: none;
}

@media (min-width: 1010px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000314}}
  #navbar {
    display: block;
    width: 100%;
    height: 70px;
    background-color: #232323;
    color: white;
    opacity: .95;
    position: fixed;
    top: 0px;
    z-index: 100;
    margin-bottom: 70px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000356}}
nav ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  background-color: #43C0F6;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000364}}
nav li {
  margin: 0 5px;
  display: inline-block;
  margin: 1em;
  background-color: #43C0F6;
  opacity: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000373}}
nav a {
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: .5em;
  color: #FFF;
  opacity: 1.5;
  margin: 0 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000385}}
nav a:hover,
nav a:focus {
  color: #DDD;
  background-color: #232323;
}

@media (min-width: 60rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000392}}
  #nav-right {
    float: right;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000395}}
  #nav-left {
    float: left;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003100}}
.menu-icon {
  width: 20px;
  height: 19px;
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003108}}
.menu-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #FFF;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform .3s ease-out;
          transition: transform .3s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003120}}
.menu-icon__middle {
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #FFF;
  -webkit-transition: all .3s ease-out;
          transition: all .3s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003131}}
.menu-icon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #FFF;
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: -webkit-transform .3s ease-out;
          transition: transform .3s ease-out;
}
@media (min-width: 1010px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003100}}
  .menu-icon {
    display: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003149}}
.menu-icon--close-x::before {
  -webkit-transform: rotate(45deg) scaleX(1.25);
      -ms-transform: rotate(45deg) scaleX(1.25);
          transform: rotate(45deg) scaleX(1.25);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003153}}
.menu-icon--close-x .site-header__menu-icon__middle {
  opacity: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003158}}
.menu-icon--close-x::after {
  -webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
      -ms-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
          transform: rotate(-45deg) scaleX(1.25) translateY(1px);
}

/*home-hero*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\000033}}
.home-hero {
  background-image: url("../img/knight.png");
  background-size: cover;
  background-position: center center;
  padding: 10em 0;
  color: #FFF;
}

@media (min-width: 880px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000312}}
  .home-hero {
    height: 100vh;
    padding-top: 35vh;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000318}}
#aboutSection {
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000321}}
.about-textbox {
  background-color: #232323;
  padding: 4em;
  margin-left: -2.5%;
  outline: 2px solid #43C0F6;
  outline-offset: -2.5em;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000333}}
.about-textbox h1 {
  color: #43C0F6;
}

@media (min-width: 25rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000344}}
  h1 {
    font-size: 2rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000347}}
  .about-textbox h1 {
    top: .6em;
    padding: 0 .325em;
  }
}
@media (min-width: 60rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000355}}
  h1 {
    font-size: 2.5rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000359}}
  #aboutSection {
    background-image: url("../img/code.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000366}}
  .about-textbox {
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    top: 65px;
    text-align: left;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 60rem) and (min-width: 1010px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000366}}
  .about-textbox {
    width: 60%;
  }
}

@media (min-width: 60rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000380}}
  .about-textbox h1 {
    top: 100px;
    left: 6rem;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
/*buttons*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\000032}}
.button {
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.7em;
}

@media (min-width: 530px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000313}}
  .button {
    font-size: 1.5rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000318}}
.button-small {
  font-size: .7rem;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000323}}
.button-accent {
  color: #43C0F6;
  border-color: #43C0F6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000328}}
.button-accent:hover,
.button-accent:focus {
  background: #43C0F6;
  color: #232323;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000334}}
.button-dark {
  color: #232323;
  border-color: #232323;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000339}}
.button-dark:hover,
.button-dark:focus {
  background: #232323;
  color: #43C0F6;
}

@media (min-width: 60rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000347}}
  .button {
    font-size: 1.5rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\000031}}
h1 {
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\000037}}
p {
  margin-top: 0;
  line-height: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000312}}
p:last-of-type {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000316}}
.titleone {
  font-size: 6em;
  margin-bottom: 1.5em;
  font-weight: 900;
  margin-top: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000323}}
.titleone span {
  font-weight: 300;
  display: block;
  font-size: .9em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000329}}
.titleone-cta {
  margin: 0 0 .5em;
}

@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000335}}
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000340}}
  .titleone {
    font-size: 3.6rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\000031}}
#WorkSection {
  position: relative;
  margin-bottom: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\000037}}
.portfolio {
  position: relative;
  top: 0px;
  margin: 0 0;
  display: block;
  color: #fff;
  font-weight: 600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000316}}
.port-item {
  margin: 0;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000321}}
.port-item img {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000325}}
.item-description {
  position: absolute;
  z-index: 100;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000336}}
.item-description p {
  margin: 1em;
}

@media (min-width: 530px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000341}}
  .port-item {
    width: 50%;
    float: left;
  }
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000348}}
  .port-item {
    width: 33.333334%;
    overflow: hidden;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000353}}
  .item-description {
    -webkit-transform: translateY(150%);
        -ms-transform: translateY(150%);
            transform: translateY(150%);
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000357}}
  .port-item:hover .item-description {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_cta\.scss}line{font-family:\000031}}
.cta {
  background-color: #43C0F6;
  padding: 6em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_footer\.scss}line{font-family:\000031}}
footer {
  position: relative;
  background: #232323;
  color: #fff;
  padding: 5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_footer\.scss}line{font-family:\000038}}
footer h1, h2 {
  text-align: center;
  margin-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_footer\.scss}line{font-family:\0000314}}
footer .button {
  margin-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_features\.scss}line{font-family:\000031}}
.feature-item {
  margin-top: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\000031}}
[class^=col-] {
  width: 100%;
  margin-top: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\000036}}
[class^=col-]:first-child {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000310}}
.col-1 {
  width: 33.333334%;
  float: left;
}

@media (min-width: 40rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000317}}
  [class^=col-] {
    float: left;
    padding: 0 .5em;
    margin-top: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000323}}
  [class^=col-]:first-child {
    padding-left: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000327}}
  [class^=col-]:last-child {
    padding-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000331}}
  .col-3 {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000335}}
  .col-1 {
    width: 16.6666%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_toolbox\.scss}line{font-family:\000031}}
#toolboxSection {
  margin-top: 0px;
  position: relative;
  padding: 5em;
  top: 0px;
  outline-offset: -3.75em;
  margin-left: 0;
  color: #fff;
  outline: 2px solid #43C0F6;
  background: #232323;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_toolbox\.scss}line{font-family:\0000313}}
#toolboxSection h1 {
  position: relative;
  top: 70px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_wrapper\.scss}line{font-family:\000031}}
.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_section-title\.scss}line{font-family:\000031}}
.section-title {
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;
  color: #43C0F6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_section-title\.scss}line{font-family:\0000311}}
.section-title strong {
  font-weight: 500;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_section-title\.scss}line{font-family:\0000315}}
.section-title--less-margin {
  margin-bottom: 1.2rem;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_section-title\.scss}line{font-family:\0000320}}
.section-title__icon {
  margin-right: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .6rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_contactSection\.scss}line{font-family:\000031}}
#contactSection {
  position: relative;
  top: 0px;
  background-color: #232323;
  color: #fff;
  padding: 0 0 50px 0;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_contactSection\.scss}line{font-family:\0000311}}
#contactSection img {
  padding: 10px;
}
@media (min-width: 1030px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_contactSection\.scss}line{font-family:\0000311}}
  #contactSection img {
    margin-left: -100px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_contactSection\.scss}line{font-family:\0000318}}
.contact {
  border: 2px solid #43C0F6;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  bottom: 50px;
}

/*# sourceMappingURL=styles.css.map */
