@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/base\/_global\.scss}line{font-family:\000031}}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/base\/_global\.scss}line{font-family:\000036}}
html {
  background-color: #43C0F6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/base\/_global\.scss}line{font-family:\0000310}}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  background: no-repeat center center fixed;
  background-size: 100%;
  background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/base\/_global\.scss}line{font-family:\0000330}}
img {
  max-width: 100%;
  -moz-min-height: 100%;
  -moz-min-width: 100%;
  -moz-max-height: 100%;
  -moz-max-width: 100%;
  -webkit-min-height: 100%;
  -webkit-min-width: 100%;
  -webkit-max-height: 100%;
  -webkit-max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/base\/_global\.scss}line{font-family:\0000342}}
.clearfix::after,
section::after,
footer::after {
  content: "";
  display: block;
  clear: both;
}

/*header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\000033}}
header {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 0;
  position: fixed;
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000313}}
#navbar {
  position: relative;
  display: none;
  width: 100%;
  top: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000320}}
#navbar.open {
  display: block;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000324}}
  #navbar {
    display: block;
    width: 100%;
    height: 70px;
    background-color: #232323;
    color: white;
    opacity: .95;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-bottom: 70px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000339}}
.menu__wrapper {
  height: 40px;
  width: 50px;
  position: fixed;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000373}}
nav ul {
  overflow: hidden;
  background-color: #43C0F6;
  margin: -2px;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000373}}
  nav ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    opacity: 1;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000386}}
nav li {
  margin: 0 5px;
  display: inline-block;
  margin: 1.5rem 1rem;
  background-color: #43C0F6;
  opacity: 1.5;
  width: 100%;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000386}}
  nav li {
    width: auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000398}}
nav a {
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4rem;
  padding: .5em;
  color: #FFF;
  opacity: 1.5;
  margin: 0 5px;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\0000398}}
  nav a {
    font-size: 1rem;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003113}}
nav a:hover,
nav a:focus {
  color: #DDD;
  background-color: #232323;
}

@media (max-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003120}}
  #nav-right, #nav-left {
    float: none;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003130}}
  #nav-right {
    float: right;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003133}}
  #nav-left {
    float: left;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003138}}
.menu-icon {
  width: 80px;
  height: 40px;
  position: fixed;
  z-index: 100;
  top: 40px;
  right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003146}}
.menu-icon::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -40px;
  width: 80px;
  height: 12px;
  background-color: #FFF;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003158}}
.menu-icon__middle {
  position: absolute;
  top: 20px;
  left: -40px;
  width: 80px;
  height: 12px;
  background-color: #FFF;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003168}}
.menu-icon::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -40px;
  width: 80px;
  height: 12px;
  background-color: #FFF;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003138}}
  .menu-icon {
    display: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003186}}
.menu-icon--close-x::before {
  -webkit-transform: rotate(45deg) scaleX(1.25);
          transform: rotate(45deg) scaleX(1.25);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003190}}
.menu-icon--close-x .site-header__menu-icon__middle {
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_header\.scss}line{font-family:\00003195}}
.menu-icon--close-x::after {
  -webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
          transform: rotate(-45deg) scaleX(1.25) translateY(1px);
}

/*home-hero*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\000033}}
.home-hero {
  background-image: url("../assets/img/knight2.png");
  background-size: cover;
  background-position: center center;
  padding: 10em 0;
  color: #FFF;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\000033}}
  .home-hero {
    background-image: url("../assets/img/knight3.png");
  }
}

@media (min-width: 880px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000315}}
  .home-hero {
    height: 100vh;
    padding-top: 35vh;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000321}}
#aboutSection {
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000324}}
.about-textbox {
  background-color: #232323;
  padding: 4em;
  margin-left: -2.5%;
  outline: 2px solid #43C0F6;
  outline-offset: -2.5em;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000336}}
.about-textbox h1 {
  color: #43C0F6;
}

@media (min-width: 25rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000347}}
  h1 {
    font-size: 2rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000350}}
  .about-textbox h1 {
    top: .6em;
    padding: 0 .325em;
  }
}
@media (min-width: 60rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000358}}
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 60rem) and (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000362}}
  #aboutSection {
    background-image: url("../assets/img/code1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10em;
  }
}

@media (min-width: 60rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000371}}
  .about-textbox {
    position: relative;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    top: 65px;
    text-align: center;
    -webkit-box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 60rem) and (min-width: 1010px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000371}}
  .about-textbox {
    width: 60%;
  }
}

@media (min-width: 60rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_home-hero\.scss}line{font-family:\0000386}}
  .about-textbox h1 {
    top: 100px;
    left: 6rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*buttons*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\000032}}
.button {
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000314}}
.button-small {
  font-size: .7rem;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000319}}
.button-accent {
  color: #43C0F6;
  border-color: #43C0F6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000324}}
.button-accent:hover,
.button-accent:focus {
  background: #43C0F6;
  color: #232323;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000330}}
.button-dark {
  color: #232323;
  border-color: #232323;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000335}}
.button-dark:hover,
.button-dark:focus {
  background: #232323;
  color: #43C0F6;
}

@media (min-width: 60rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000343}}
  .button {
    font-size: 1.5rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_button\.scss}line{font-family:\0000348}}
.button-large {
  font-size: 2.5rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\000031}}
h1 {
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\000037}}
p {
  margin-top: 0;
  line-height: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000312}}
p:last-of-type {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000316}}
.titleone {
  font-size: 6em;
  margin-bottom: 1.5em;
  font-weight: 900;
  margin-top: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000323}}
.titleone span {
  font-weight: 300;
  display: block;
  font-size: .9em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000329}}
.titleone-cta {
  margin: 0 0 .5em;
}

@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000334}}
  p {
    font-size: 2.2rem;
    line-height: 1.6;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000340}}
  .titleone {
    font-size: 3.6rem;
  }
}
@media (min-width: 1010px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_typography\.scss}line{font-family:\0000346}}
  p {
    font-size: 1.4rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\000031}}
#WorkSection {
  position: relative;
  margin-bottom: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\000037}}
.portfolio {
  z-index: 1;
  position: relative;
  top: 0px;
  margin: 0 0;
  display: block;
  color: #fff;
  font-weight: 600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000317}}
figcaption a {
  font-size: 0.9em;
  padding: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000322}}
.port-item {
  margin: 0;
  position: relative;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000328}}
.port-item img {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000332}}
.item-description {
  position: absolute;
  z-index: 3;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000343}}
.item-description h3 {
  margin: 1em;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000343}}
  .item-description h3 {
    font-size: 1em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000350}}
.item-description h2 {
  font-size: 2.5em;
}

@media (min-width: 1010px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000355}}
  .port-item {
    width: 50%;
    float: left;
    overflow: hidden;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000360}}
  .item-description {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000363}}
  .port-item:hover .item-description {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@media (min-width: 1030px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_portfolio\.scss}line{font-family:\0000369}}
  .port-item {
    width: 33.333334%;
    overflow: hidden;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_cta\.scss}line{font-family:\000031}}
.cta {
  background-color: #43C0F6;
  padding: 6em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_footer\.scss}line{font-family:\000031}}
.footer {
  position: relative;
  background: #232323;
  color: #fff;
  padding: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_footer\.scss}line{font-family:\000038}}
footer h1, h2 {
  text-align: center;
  margin-top: 15px;
  font-size: 1.7rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_footer\.scss}line{font-family:\0000314}}
h6 {
  font-size: 0.99rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_footer\.scss}line{font-family:\0000318}}
footer .button {
  margin-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_features\.scss}line{font-family:\000031}}
.feature-item {
  margin-top: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_features\.scss}line{font-family:\000036}}
.feature-item h3 {
  font-size: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\000031}}
[class^=col-] {
  width: 100%;
  margin-top: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\000036}}
[class^=col-]:first-child {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000310}}
.col-1 {
  width: 33.333334%;
  float: left;
}

@media (min-width: 40rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000317}}
  [class^=col-] {
    float: left;
    padding: 0 .5em;
    margin-top: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000323}}
  [class^=col-]:first-child {
    padding-left: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000327}}
  [class^=col-]:last-child {
    padding-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000331}}
  .col-3 {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_grid\.scss}line{font-family:\0000335}}
  .col-1 {
    width: 16.6666%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_toolbox\.scss}line{font-family:\000031}}
#toolboxSection {
  margin-top: 0px;
  position: relative;
  padding: 5em;
  top: 0px;
  outline-offset: -3.75em;
  margin-left: 0;
  color: #fff;
  outline: 2px solid #43C0F6;
  background: #232323;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_toolbox\.scss}line{font-family:\0000313}}
#toolboxSection h1 {
  position: relative;
  top: 70px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_wrapper\.scss}line{font-family:\000031}}
.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_section-title\.scss}line{font-family:\000031}}
.section-title {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: #43C0F6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_section-title\.scss}line{font-family:\0000311}}
.section-title strong {
  font-weight: 500;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_section-title\.scss}line{font-family:\0000315}}
.section-title--less-margin {
  margin-bottom: 1.2rem;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_section-title\.scss}line{font-family:\0000320}}
.section-title__icon {
  margin-right: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .6rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_contactSection\.scss}line{font-family:\000031}}
#contactSection {
  position: relative;
  top: 0px;
  background-color: #232323;
  color: #fff;
  padding: 50px 0;
  margin: 0 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_contactSection\.scss}line{font-family:\0000311}}
#contactSection img {
  padding: 50px;
}
@media (min-width: 1030px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_contactSection\.scss}line{font-family:\0000311}}
  #contactSection img {
    margin-left: -100px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_contactSection\.scss}line{font-family:\0000318}}
.contact {
  border: 2px solid #43C0F6;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  bottom: 95px;
}

/*modal background*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_modal\.scss}line{font-family:\000032}}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/*modal content*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_modal\.scss}line{font-family:\0000320}}
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #232323;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  border: 10px solid #43C0F6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_modal\.scss}line{font-family:\0000332}}
.close {
  color: #aaa;
  float: right;
  font-size: 39px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_modal\.scss}line{font-family:\0000339}}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_modal\.scss}line{font-family:\0000346}}
.modal-header {
  padding: 2px 16px;
  background-color: #232323;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_modal\.scss}line{font-family:\0000352}}
.modal-body {
  padding: 2px 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/my-portfolio-site\/app\/assets\/styles\/modules\/_modal\.scss}line{font-family:\0000356}}
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */