.footer {
  position: relative;
  background: #232323;
  color: #fff;
  padding: 1em 0;
}

footer h1, h2 {
  text-align: center;
  margin-top: 15px;
  font-size: 1.7rem;
}

h6 {
  font-size: 0.99rem;
}

footer .button {
  margin-left: 15px;
}
