/*header */

header {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 0;
  position: fixed;
  z-index: 2;
}


#navbar {
  position: relative;
  display: none;
  width: 100%;
  top:0px;
}

#navbar.open {
  display: block;
  transition: transform .3s ease-in-out;
}
#navbar {
  @include atLarge {
    display: block;
    width: 100%;
    height: 70px;
    background-color: #232323;
    color: white;
    opacity: .95;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-bottom: 70px;
  }
}

.menu__wrapper {
  height: 40px;
  width: 50px;
  position: fixed;
  z-index: 1;
}

//nav li {
//  color: #FFF;
//  text-decoration: none;
//  padding: 15px;
//}

//.logo {
//  @include atMedium {
//    float: left;
//  }
//}

//.nav {
//  @include atMedium {
//    float:right;
//  }
//}
//@include atMedium {
//  img .logo {
//    float:left;
//  }

//  nav {
//    float: right;
//  }
//}

nav ul {
  overflow: hidden;
  background-color: #43C0F6;
  margin: -2px;
  //height: 0;
  @include atLarge {
    margin: 10px;
    padding: 0;
    list-style: none;
    opacity: 1;
  }
}

nav li {
  margin: 0 5px;
  display: inline-block;
  margin: 1.5rem 1rem;
  background-color: #43C0F6;
  opacity: 1.5;
  width: 100%;
  @include atLarge {
    width:auto;
  }
}

nav a {
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4rem;
  padding: .5em;
  color: #FFF;
  opacity: 1.5;
  margin: 0 5px;
  @include atLarge {
    font-size: 1rem;
  };
}

nav a:hover,
nav a:focus {
  color: #DDD;
  background-color: #232323;
}

@media (max-width: 450px) {
  #nav-right, #nav-left {
    float: none;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

}

@include atLarge {
  #nav-right {
    float: right;
  }
  #nav-left {
    float:left;
  }
}

.menu-icon {
  width: 80px;
  height: 40px;
  position: fixed;
  z-index: 100;
  top: 40px;
  right: 10px;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -40px;
    width: 80px;
    height: 12px;
    background-color: #FFF;
    transform-origin: 0 0;
    transition: transform .3s ease-out;
  }

  &__middle {
    position: absolute;
    top: 20px;
    left: -40px;
    width: 80px;
    height: 12px;
    background-color: #FFF;
    transition: all .3s ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -40px;
    width: 80px;
    height: 12px;
    background-color: #FFF;
    transform-origin: 0 100%;
    transition: transform .3s ease-out;
  }

  @include atLarge {
    display: none;
  }
}

.menu-icon--close-x {
  &::before {
    transform: rotate(45deg) scaleX(1.25);
  }

  .site-header__menu-icon__middle {
    opacity: 0;
    transform: scaleX(0);
  }

  &::after {
    transform: rotate(-45deg) scaleX(1.25)translateY(1px);
  }
}
