/*home-hero*/

.home-hero {
  background-image: url('../assets/img/knight2.png');
  background-size: cover;
  background-position: center center;
  padding: 10em 0;
  color: #FFF;
  @include atMedium {
    background-image: url('../assets/img/knight3.png');
  }
}

@media (min-width: 880px) {
  .home-hero {
    height: 100vh;
    padding-top: 35vh;
  }
}

#aboutSection {
  margin-bottom: 0px;
}
.about-textbox {
  background-color: #232323;
  padding: 4em;
//  width: 100vw;
  margin-left: -2.5%;
  outline: 2px solid #43C0F6;
  outline-offset: -2.5em;
  color: #FFF;
//  position: relative;

}

.about-textbox h1 {
  color: #43C0F6;
//  position: absolute;
//  left: 50%;
//  transform: translateX(-50%);
//  top: .75em;
//  background: #232323;
//  padding: 0 .145em;
}

@media (min-width: 25rem) {
  h1 {
    font-size: 2rem;
  }
  .about-textbox h1 {
    top: .6em;
    padding: 0 .325em;
  }
}


@media (min-width: 60rem) {
  h1 {
    font-size: 2.5rem;
  }

  #aboutSection {
    @include atMedium{
      background-image: url("../assets/img/code1.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 10em;
    }
  }

  .about-textbox {
    position:relative;
  //  padding: 7em;
    margin-top: 5%;
  //  outline-offset: -3.75em;
    margin-left: 0;
    margin-right: 0;
    top: 65px;
    text-align: center;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0,.3);
    @include atMedium {
      width: 60%;
    }
  }

  .about-textbox h1 {
    top: 100px;
    left: 6rem;
    transform: translateX(0 );
  }

}

//.home-about {

//  background-size: cover;
//  background-position: center;
//  padding: .5em;
//}

//.home-about-textbox {
//  width: 40%;
//  margin-left: -2.5%;
//}
