#WorkSection {
  position: relative;
  //top: 170px;
  margin-bottom: 200px;
}

.portfolio {
  z-index: 1;
  position: relative;
  top: 0px;
  margin: 0 0;
  display:block;
  color: #fff;
  font-weight: 600;
}

figcaption a {
  font-size:0.9em;
  padding: 25px;
}

.port-item {
  margin: 0;
  position: relative;
  width: 100%;
}

.port-item img {
  display: block;
}

.item-description {
  position: absolute;
  z-index: 3;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: white;
  background: rgba(0,0,0,.6);
  padding-bottom: 2em;
}

.item-description h3 {
  margin: 1em;
  @include atMedium {
    font-size: .75em;
  }
}

.item-description h2 {
  font-size: 1.5em;
}

@include atMedium {
  .port-item {
    width: 50%;
    float:left;
    overflow: hidden;
  }
  .item-description {
    transform: translateY(150%);
  }
  .port-item:hover .item-description {
    transform: translateY(0%);
  }
}

@include atExLarge {
  .port-item {
    width: 33.333334%;
    overflow: hidden;
  }
}
