.portfolio {
  margin: 3em 0 0;
}

.port-item {
  margin: 0;
  position: relative;
}

.port-item img {
  display: block;
}

.item-description {
  position: absolute;
  z-index: 100;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: white;
  background: rgba(0,0,0,.6);
  padding-bottom: 2em;
}

.item-description p {
  margin: 1em;
}

@include atSmall {
  .port-item {
    width: 50%;
    float:left;
  }
}

@include atMedium {
  .port-item {
    width: 33.333334%;
    overflow: hidden;
  }

  .item-description {
    transform: translateY(150%);
  }

  .port-item:hover .item-description {
    transform: translateY(0%);
  }
}
